extends ../layouts/layout_slim

block content
    .row
        .col-sm-12.text-center
            |Welcome, #{user.firstname}
    .row(style="margin-top: 20px;")
        .col-sm-12
            a.btn.btn-success.pull-left(href='/')
                span.glyphicon.glyphicon-arrow-left
                | &nbsp;Back
            a.btn.btn-danger.pull-right#logoutBtn
                span.glyphicon.glyphicon-off
                | &nbsp;Logout...

block scripts
    script(type='text/javascript', src='/javascripts/page_login_active.js')