extends ../layouts/layout

block content
    .row
        .col-sm-12.col-md-7
            .panel.panel-default
                .panel-heading
                    span.glyphicon.glyphicon-statistic
                    | &nbsp; Commit history
                .panel-body(style='max-height: 400px; overflow-y: scroll;')
                    .list-group#commitsList
        .col-sm-12.col-md-5
            .panel.panel-default
                .panel-heading
                    span.glyphicon.glyphicon-download
                    | &nbsp; Retrieve commits
                .panel-body
                    form.form-horizontal
                        //- Github name group
                        .form-group
                            label.col-sm-4.control-label(for='githubname')
                                | Name:
                            .col-sm-8
                                input.form-control(type='text', name='githubname', value='#{user.githubname}', disabled)
                        //- Github repositories choices
                        .form-group
                            label.col-sm-4.control-label(for='githubrepo')
                                | Repo:
                            .col-sm-8
                                .input-group
                                    select.form-control(name='githubrepo')
                                    .input-group-btn
                                        a.btn.btn-success#setGithubRepo(href='#')
                                            | set
                        //- Project week choice
                        .form-group
                            label.col-sm-4.control-label(for='week')
                                | Week:
                            .col-sm-8
                                .input-group
                                    select.form-control(name='week')
                                    .input-group-btn
                                        a.btn.btn-success#setWeek(href='#')
                                            | get
    .row
        .col-sm-12
            .panel.panel-default
                .panel-heading
                    span.glyphicon.glyphicon-plus
                    | &nbsp; Explanation
                .panel-body
                    .form-group
                        label(for='subtitle')
                            | Subtitle:
                        input.form-control(name='subtitle', placeholder='E.g. Research week 1', type='text', maxlength='30')
                    hr
                    .form-group
                        label(for='comments')
                            | Extra comments
                        textarea.form-control(name='comments', style='resize: vertical;')
    .row
        .col-sm-12
            a.btn.btn-success.pull-right#submitLog(href='#')
                span.glyphicon.glyphicon-ok
                | &nbsp; Submit new log
                    


block scripts
    script(type='text/javascript', src='/javascripts/page_logs.js')